{% assign document = post | default: page %}

<p class="page__meta">
    {% if document.date %}
    <span class="page__meta-date">
        <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i>
        <time datetime="{{ document.date | date_to_xmlschema }}">{{ document.date | date: "%Y-%m-%d" }}</time>
    </span>
    {% endif %}

    <!-- Hits.sh View Counter -->
    <span style="color: #7a8288; margin-left: 10px;">
        <i class="far fa-fw fa-eye" aria-hidden="true"></i>
        <span id="page-views" data-url="{{ document.url }}">...</span> Views
    </span>
</p>